* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  position: absolute;
  padding: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#navigation-panel {
  width: 20rem;
}

#main {
  flex: 1;
  overflow: hidden;
  margin-left: 1rem;
}

#endpoint-list {
  padding-left: 0;
  list-style: none;

  .endpoint {
    padding: 0.2rem;
    background-color: #f4f4f4;
    margin: 0.2rem;

    .endpoint-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .endpoint-path {
        font-size: 1.2em;
        margin: 0;
        flex: 1;
        cursor: pointer;
      }

      .tool {
        font-size: 0.8em;
        color: #666;
        cursor: pointer;
        margin: 0 0.3rem;
      }
    }
  }

  .endpoint.loading {
    background-color: #f4f4f4;
    opacity: 0.5;
  }

  .endpoint-note {
    font-size: 0.8em;
    color: #666;
  }
}

#request-param {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;

  label[for="source"] {
    margin-left: 0;
    flex: 1;
    display: flex;
    input {
      margin-left: 0.5rem;
      flex: 1;
      width: 100%;
    }
  }

  label {
    margin: 0 0.5rem;
    width: auto;

    input[type="number"] {
      width: 3rem;
    }
  }
}

#feed-preview {
  /* enable scrolling */
  height: 100%;
  width: 100%;
  overflow: auto;
}
