.navigation-panel {
  width: 30%;
  float: left;
}

ul.endpoint-list {
  list-style: none;
  padding-left: 0;
}

.feed-preview-panel {
  float: left;
  width: 70%;
}

#feed-preview {
  width: 90%;
  height: 50%;
  border: none;
  position: absolute;
}

.CodeMirror {
  /* overriding the default height from CodeMirror.css */
  height: 100% !important;
}

.endpoint {
  padding: 0.2rem;
  background-color: #f4f4f4;
  margin: 0.2rem;
}

.endpoint.loading {
  background-color: #f4f4f4;
  opacity: 0.5;
}

.endpoint-note {
  font-size: 0.8em;
  color: #666;
}
